[Desktop Entry]
Type=Application
Version=1.0
Name=CPU Switch Control
Name[pt_BR]=Controle de CPU
Comment=Configure a troca automática de frequência do processador
Comment[pt_BR]=Configure a troca automática de frequência do processador
Exec=/usr/local/bin/cpu-switch-control
Icon=cpu-switch-control
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=CPU;frequência;processador;energia;
Keywords[pt_BR]=CPU;frequência;processador;energia;
